/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-black;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }

  p {
    @apply text-lg font-light;
  }
  li {
    @apply text-base font-light;
  }
}

@layer components {
  .btn-dark {
    @apply px-5 py-2 text-center text-white transition duration-300 ease-in-out rounded-md cursor-pointer bg-swa-1 hover:bg-swa-2 focus:outline-none focus:ring-4 focus:ring-swa-4;
  }
  .btn-light {
    @apply px-5 py-2 text-center text-purple-900 transition duration-300 ease-in-out bg-white rounded-md shadow hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-swa-3 active:bg-swa-1;
  }

  .label {
    @apply font-bold;
  }
  .input-text {
    @apply block w-full px-4 py-2 border border-gray-200 rounded focus:outline-none focus:border-purple-400;
  }
  .textarea {
    @apply block w-full px-4 py-2 border border-gray-200 rounded bg-gray-50 focus:outline-none focus:border-purple-400;
  }

  .gallery {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5em;
    align-items: stretch;
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
  }

  .gallery img {
    border: 1px solid white;
    max-width: 100%;
    object-fit: cover;
  }

  .markdown {
    @apply border-0;
  }

  .markdown h3 {
    @apply text-lg text-red-500;
  }

  .markdown p {
    @apply text-base;
  }

  .markdown li {
    @apply text-base list-disc list-inside;
  }
}
